name: Clean/sort locale files

on:
  push:
  workflow_dispatch:
  schedule:
    - cron:  '25 */6 * * *'

jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:
    - name: Check out this repo
      uses: actions/checkout@v2
    - name: install dependencies
      run: |
        apt-get install -y gettext
    - name: Clean/sort locale files
      run: |-
        DO_SORT=true ./clean_all.sh
    - name: Commit and push if it changed
      run: |-
        git config user.name "Automated"
        git config user.email "actions@users.noreply.github.com"
        git add -A
        timestamp=$(date -u)
        git commit -m "Cleaning locale files: ${timestamp}" || exit 0
        git push
